﻿@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.navbar {
    background: #87cca0;
}

.nav-lin, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-lin {
    margin-right: 1em !important;
}

.nav-lin:hover {
    background: #f4f4f4;
    color: #87cca0;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(https://wallpaperscave.ru/images/original/17/12-25/food-lime-5901.jpg) no-repeat center center fixed;
    background-size: cover;
}

.card-background {
    background: #f0faf4;
}